body {
  background-image: url('../../../assets/bg-img.png');
  background-repeat: no-repeat;

  @media only screen and (max-width: 800px) {
    background-size: cover;
  }
}

.judul {
  display: flex;
  position: relative;
  bottom: 20px;
  justify-content: center;
  @media only screen and (max-width: 800px) {
    h3 {
      font-size: 17px;
    }
  }
}

.result {
  background-color: #f0f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: #f0f1f1;
  margin-top: 12rem !important;
  border-radius: 15px;
}

.card {
  //   left: 35%;
  background-color: unset !important;
  border: none !important;
}
.card-body {
  margin: 20px;
  background-color: #f0f1f1 !important;
  text-align: center;
}

.container {
  max-width: 1273px;
}
